<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Sitecore.Pipelines.Loader.ShowVersion, Sitecore.Kernel">
          <assemblies>
            <assembly id="Sitecore.Support.94798">/bin/Sitecore.Support.94798.dll</assembly>
          </assemblies>
        </processor>
      </initialize>
      <search>
        <processor type="Sitecore.Support.Pipelines.Search.IDResolver, Sitecore.Support.94798" patch:instead="*[@type='Sitecore.Pipelines.Search.IDResolver, Sitecore.Kernel']" />
        <processor type="Sitecore.Support.Pipelines.Search.PathResolver, Sitecore.Support.94798" patch:instead="*[@type='Sitecore.Pipelines.Search.PathResolver, Sitecore.Kernel']" />
      </search>
    </pipelines>
  </sitecore>
</configuration>